@font-face {
	font-family: "AvenirNextCyrRegular";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"),
	     url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");

}
@font-face {
	font-family: "AvenirNextCyrBold";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"),
	     url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("truetype");

}
@font-face {
	font-family: "AvenirNextCyrLight";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.woff") format("woff"),
	     url("../fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf") format("truetype");

}
