@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Martel'); // Медиа
$breakpoint-small: 600px;
$breakpoint-med-small: 960px;
$breakpoint-med: 1175px;
@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
  @if $size == 'small' {
    @media screen and ($type + -width: $breakpoint-small) {
      @content;
    }
  } @else
  if $size == 'med-small' {
    @media screen and ($type + -width: $breakpoint-med-small) {
      @content;
    }
  } @else
  if $size == 'med' {
    @media screen and ($type + -width: $breakpoint-med) {
      @content;
    }
  } @else
  if $size == 'large' {
    @media screen and ($type + -width: $breakpoint-med) {
      @content;
    }
  } @else
  if $size == 'custom' {
    @media screen and ($type + -width: $pixels + px) {
      @content;
    }
  } @else {
    @content;
  }
}
// Шрифт
@function calcR($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin fontse($size) {
  font-size: $size;
  font-size: calcR($size);
}
@mixin background($imgpath,$size: 100%,$positionx: center,$positiony: top,$repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    position-x: $positionx;
    position-y: $positiony;
    repeat: $repeat;
  }
}
$color1: #ffffff;
$color2: #0e1d2b;
$color3: #ffa326;

body {
  width: 100%;
  font-family: 'Rubik', 'serif';
  background-color: white;
}

header nav {
  min-height: calcR(85px);
  background-color: $color1;
  @include screen(small) {
    min-height: auto;
  }

  .active {
    border-bottom: calcR(2px) solid $color3;
    font-weight: 700;
  }

  .navlogo {
    font-family: Martel;
    font-size: 1.625rem;
    line-height: 1.063rem;
    color: $color2;
    font-weight: 400;
    @include screen(small) {
      padding: calcR(8px) 0;
    }

    span {
      color: $color3;
      font-weight: 700;
    }
  }

  li {
    padding: 0 calcR(25px);
    color: $color2;
    font-family: Martel;
    font-size: 1rem;
    line-height: 1.063rem;
    font-weight: 400;
    @include screen(small) {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}

section {
  min-height: calcR(400px);
}

#ourb {
  .col-sm-6 {
    padding: calcR(200px) 0 calcR(100px);
    @include screen(small) {
      padding: calcR(170px) 0;
    }
  }

  p {
    padding-left: calcR(90px);
    @include screen(small) {
      padding-left: calcR(30px);
    }
  }

  .h__text {
    font-family: Rubik;
    font-size: 4.063rem;
    font-weight: 700;
    line-height: 3.75rem;
  }

  .unh__text {
    font-family: Martel;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  .leftour {
    min-height: calcR(400px);
    @include background('../img/leftour.png');
    background-color: $color2;
    @include screen(small) {
      padding: calcR(120px) 0 calcR(20px);
    }

    > .h__text {
      color: $color3;
    }

    > .unh__text {
      color: $color1;
    }
  }

  .rightour {
    min-height: calcR(400px);
    @include background('../img/rightour.png');
    background-color: $color3;
    @include screen(small) {
      padding: calcR(20px) 0;
    }

    > .h__text {
      color: $color1;
    }

    > .unh__text {
      color: $color2;
    }

    > .buy__text {
      font-family: Martel;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.125rem;
      color: $color2;

      span {
        cursor: pointer;
        margin-left: calcR(20px);
        padding: calcR(5px) calcR(20px);
        background-color: white;
        box-shadow: 0.188rem 0.325rem 0.506rem 0.056rem rgba(218, 139, 32, 0.75);

        a {
          text-decoration: none;
          color: inherit;
        }

        img {
          padding: 0 calcR(5px);
        }
      }
    }
  }
}

#burgs {
  padding: calcR(80px) 0;

  .col-sm-4 {
    padding: calcR(20px) 0;
    cursor: pointer;

    &:hover {
      border: calcR(2px) solid $color3;
    }
  }

  .burg__name {
    padding-top: calcR(25px);
    color: $color3;
    font-family: Rubik;
    font-size: 1.438rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .burg__descr {
    color: $color2;
    font-family: Martel;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .burg__price {
    text-align: center;
    padding: calcR(5px);
    color: $color2;
    background-color: #e1e1e1;

    > span {
      padding: calcR(5px);
    }

    .price1 {
      font-family: Martel;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
    }

    .price2 {
      font-family: Rubik;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1rem;
    }
  }
}

#wElse {
  @include background('../img/welse.png',cover);

  .col-sm-7 {
    padding: calcR(150px) 0;
  }

  .col-sm-4 {
    padding: calcR(50px) 0;
    border: calcR(3px) solid $color3;
  }

  .we__text {
    color: $color1;
    font-family: Rubik;
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 3.75rem;
  }

  ul {
    width: 100%;
    list-style: none;
    padding-top: calcR(25px);

    p {
      padding-top: calcR(10px);
      color: $color1;
      font-family: Martel;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1rem;
    }

    .tleft {
      left: 0;
    }

    .tright {
      position: absolute;
      right: calcR(20px);
    }
  }
}

#gallery {
  padding: calcR(70px) 0;

  .galleryTop {
    height: calcR(190px);
    cursor: pointer;
    img {
    @include screen(med-small) {
      padding: calcR(5px) 0;
      max-width: 100%;
      max-height: 100%;
    }
  }
  }

  .galleryBot {
    cursor: pointer;
    max-width: 16.5%;
    @include screen(med-small) {
      padding-top: calcR(5px);
      max-width: 100%;
      max-height: 100%;
    }

    img {
      max-height: calcR(95px);
      @include screen(med-small) {
        padding-top: calcR(10px);
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .gal__text {
    padding-bottom: calcR(70px);
  }

  p {
    text-align: center;
    color: $color2;
  }

  .head__text {
    font-family: Rubik;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 3.75rem;
  }

  .descr__text {
    font-family: Martel;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
  }
}

#contact {
  background-color: $color2;

  .cont__header {
    padding: calcR(35px) 0;
    background-color: $color1;
    text-align: center;
    color: $color2;
  }

  .head__text {
    font-family: Rubik;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 3.75rem;
  }

  .descr__text {
    font-family: Martel;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
  }

  .col-sm-6.leftone {
    padding: calcR(50px) calcR(150px);
    @include screen(med-small) {
      padding: calcR(20px) calcR(5px);
    }
  }

  .col-sm-6.rightone {
    padding: calcR(50px) calcR(90px);
    @include screen(med-small) {
      padding: calcR(20px) calcR(10px);
    }
  }

  .form__text {
    color: $color1;
    font-family: Martel;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
  }

  form {
    button,
    input,
    textarea {
      width: 100%;
      padding-left: 5px;
      box-shadow: 0.188rem 0.325rem 2.631rem 0.056rem rgba(29, 59, 86, 0.75);
      margin-bottom: calcR(8px);
      border-color: $color2;

      &::placeholder {
        color: $color2;
        font-family: Martel;
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1rem;
      }
    }

    textarea {
      max-height: calcR(90px);
    }

    button {
      padding: calcR(8px) 0;
      color: $color1;
      font-family: Martel;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1rem;
      background-color: $color3;
      box-shadow: 0.188rem 0.325rem 2.631rem 0.056rem rgba(29, 59, 86, 0.75);
      border-color: transparent;
    }
  }

  .address p {
    padding: calcR(10px) 0;
    font-family: Martel;
    font-size: 1.188rem;
    font-weight: 600;
    line-height: 1.125rem;
    color: $color1;

    span {
      font-size: 2.938rem;
      font-weight: 800;
      line-height: 2.875rem;
      color: $color3;
      padding-left: calcR(10px);
    }
  }
}

footer {
  padding: calcR(5px);
  text-align: center;
  background-color: #050b10;

  p {
    font-family: Martel;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.375rem;
    color: $color3;
  }
}

#modality {
  input {
    margin: calcR(5px) 0;

    &::placeholder {
      color: $color2;
      font-family: Martel;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1rem;
    }
  }

  .pop__btn {
    padding: calcR(7px) 0;
    margin: calcR(5px) 0;
    font-family: Martel;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    background-color: $color3;
    color: $color1;
  }

  .pop__text {
    font-family: Rubik;
    font-size: 1.438rem;
    font-weight: 400;
    line-height: 1rem;
    color: $color3;
  }

  .form__text {
    font-family: Martel;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: $color2;
  }
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}
